@tailwind base;
@tailwind components;
@tailwind utilities;

.welcome-heading {
  color: skyblue;
  font: 400;
  line-height: 90px;
  font-size: x-large;
  font: bold;
  align-content: center;
}
.header {
  display: flex;
  gap:"90px";
  font: bold;
  line-height: 90px;
  background-color: #444;
  color: white;
}
h2{
  align-self: center;
}